<div id="DraftModuleTemplateContainer" class="draft-module">

    <!-- Templates -->
    <script type="text/template" id="DraftModuleContainer" class="ui-template">
        <div class="draft-module-container ui-container">
            <h1 class="module-header draft-board-header">Draft Board</h1>

        </div>

    </script>


    <!-- DraftPick Item Template -->
    <script type="text/template" id="DraftPickTemplate" class="draft-pick-template">
        <td class="round-col">
            <%= S.round %>
        </td>
        <td class="pick-col">
            <%= S.pickNumber %>
        </td>
        <td data-id="<%= S._id %>" data-roster="<%= S.roster %>" class="roster-col">
            <button class="btn-cmd-link">
                <%= S.roster %>
            </button>
        </td>
        <td class="name-col">
            <button class="btn-cmd-link">
                <%= S.name %>
            </button>
        </td>
        <td class="pos-col">
            <button class="btn-cmd-link">
                <%= S.pos %>
            </button>
        </td>
        <td class="team-col">
            <button class="btn-cmd-link">
                <%= S.team %>
            </button>
        </td>
        <td class="picktime-col">
        </td>
    </script>



</div>