<div id="RosterModuleTemplateContainer">
    <!-- Templates -->
    <script type="text/template" lass="ui-template">
        <div class="module-content-container ui-container">
            <p> Hello World</p>
            <!--<div id="editor">-->
            <!--function foo(items) {-->
            <!--var x = "All this is syntax highlighted";-->
            <!--return x;-->
            <!--}-->
            <!--</div>-->
            <button id="TestButton">Test</button>
        </div>
    </script>

    <!-- Roster Container -->
    <script type="text/template" id="RosterTemplate" class="ui-template">
        <div id="Roster" class="roster-container">
            <h1 class="roster-title"><%= S. %></h1>
            <div class="roster-status-instrument-container">
                <ul class="ui-instrument-list">
                    <li class="protected-item-display-guage-container ui-gauge-item">
                        <div class="gauge-title">protected:</div>
                        <div class="gauge-value">28</div>
                    </li>
                    <li class="bubble-item-display-guage-container ui-gauge-item">
                        <div class="gauge-title">bubble:</div>
                        <div class="gauge-value">28</div>
                    </li>
                    <li class="prospect-item-display-guage-container ui-gauge-item">
                        <div class="gauge-title">prospect:</div>
                        <div class="gauge-value">28</div>
                    </li>
                    <li class="dropped-item-display-guage-container ui-gauge-item">
                        <div class="gauge-title">dropped:</div>
                        <div class="gauge-value">28</div>
                    </li>
                </ul>
            </div>
            <div class="roster-inner">

            </div>
        </div>
    </script>
    <!-- status selector -->
    <script type="text/template" id="StatusSelectTemplate" class="ui-template">
        <select class="status-select">
            <option value="protected">protected</option>
            <option value="bubble">bubble</option>
            <option value="dropped">dropped</option>
            <option value="prospect">prospect</option>
        </select>
    </script>
    <script type="text/template" id="RosterSelectTemplate" class="ui-template">
        <select class="roster-select">
            <option value="bashers">bashers</option>
            <option value="hooters">hooters</option>
            <option value="mashers">mashers</option>
            <option value="rallycaps">rallycaps</option>
            <option value="stallions">stallions</option>
        </select>
    </script>

    <!-- Player Template -->
    <script id="PlayerTemplate" class="player-template" type="text/template">
        <td><%= S.pos %></td><td data-id="<%= S._id %>" data-type="playername"><a class="draft-roster-cmd" href="#" data-id="<%= S._id%>"><%= S.name %></a></td><td><%= S.team %></td><td><%= S.runs %></td><td><%= S.hits %></td><td><%= S.hr %></td><td><%= S.rbe %></td><td><%= S.sb %></td><td><%= S.total %></td><td data-id="<%= S._id%>" data-type="draftstatus"><a class="draft-status-cmd" href="#" data-id="<%= S._id%>" data-type="draftstatus"><%= S.draftStatus %></a></td><td data-id="<%= S._id%>"><a href="#" data-id="<%= S._id %>" class="delete-roster-player">(x)</a></td>
    </script>
</div>