<div id="RosterModuleTemplateContainer">
    <!-- Templates -->
    <script type="text/template" lass="ui-template">
        <div class="module-content-container ui-container">
            <p> Hello World</p>
            <!--<div id="editor">-->
            <!--function foo(items) {-->
            <!--var x = "All this is syntax highlighted";-->
            <!--return x;-->
            <!--}-->
            <!--</div>-->
            <button id="TestButton">Test</button>
        </div>
    </script>

    <script id="RosterLayoutTemplateContainer" type="text/template">

        <div>
            <div class="roster-header"></div>
            <div class="roster-batter"></div>
            <div class="roster-starter"></div>
            <div class="roster-closer"></div>

        </div>

    </script>

    <script id="RosterHeaderTemplateContainer" type="text/template">

        <table>
            <caption class="roster-title"><%= S.rosterName %></caption>
            <tbody class="roster-scores-list">
                <tr>
                    <td class="roster-total-sum-col"><label class="roster-score-summary-label">batters: </label></td><td class="roster-total-val-col"><%= S.batterTotal %></td>
                </tr>
                <tr>
                    <td class="roster-total-sum-col"><label class="roster-score-summary-label">starters: </label></td><td class="roster-total-val-col"><%= S.starterTotal %></td>
                </tr>
                <tr>
                    <td class="roster-total-sum-col"><label class="roster-score-summary-label">closers: </label></td><td class="roster-total-val-col"><%= S.closerTotal %></td>
                </tr>
                <tr>
                    <td class="roster-total-sum-col">
                        <label class="roster-score-summary-label">total: </label>
                    </td>
                <td class="roster-total-val-col"><%= S.total %></td>
                </tr>
            </tbody>
        </table>

    </script>

    <!-- Roster Container -->
    <script id="RosterTemplate" type="text/template" class="ui-template">
        <div id="Roster" class="roster-container">
            <h1 class="roster-title"><%= S.name %></h1>
            <div class="roster-status-instrument-container">
                <ul class="ui-instrument-list">
                    <li class="protected-item-display-guage-container ui-gauge-item">
                        <div class="gauge-title">protected:</div>
                        <div class="gauge-value">28</div>
                    </li>
                    <li class="bubble-item-display-guage-container ui-gauge-item">
                        <div class="gauge-title">bubble:</div>
                        <div class="gauge-value">28</div>
                    </li>
                    <li class="prospect-item-display-guage-container ui-gauge-item">
                        <div class="gauge-title">prospect:</div>
                        <div class="gauge-value">28</div>
                    </li>
                    <li class="dropped-item-display-guage-container ui-gauge-item">
                        <div class="gauge-title">dropped:</div>
                        <div class="gauge-value">28</div>
                    </li>
                </ul>
            </div>
            <div class="roster-inner">

            </div>
        </div>
    </script>

    <script id="RosterEditPosControlTemplate" type="text/template" class="ui-template">

        <select id="RosterPickPosSelect" class="select-pos pick-property-edit" data-id="<%= S.id %>" data-type="pos">
            <option value="C">C</option>
            <option value="1B">1B</option>
            <option value="2B">2B</option>
            <option value="3B">3B</option>
            <option value="SS">SS</option>
            <option value="LF">LF</option>
            <option value="CF">CF</option>
            <option value="RF">RF</option>
            <option value="DH">DH</option>
            <option value="SP">SP</option>
            <option value="RP">RP</option>
        </select>

    </script>


    <!-- status selector -->
    <script id="StatusSelectTemplate" type="text/template" class="ui-template">
        <select class="status-select">
            <option value="protected">protected</option>
            <option value="bubble">bubble</option>
            <option value="dropped">dropped</option>
            <option value="prospect">prospect</option>
            <option value="roster">roster</option>
        </select>
    </script>
    <script id="RosterSelectTemplate" type="text/template" class="ui-template">
        <select class="roster-select">
            <option value="bashers">bashers</option>
            <option value="hooters">hooters</option>
            <option value="mashers">mashers</option>
            <option value="rallycaps">rallycaps</option>
            <option value="stallions">stallions</option>
        </select>
    </script>

    <!-- button trigger control -->
    <script id="RosterPosEditTriggerControlTemplate" type="text/template" class="ui-template">

        <button class="btn-property-edit btn-cmd-link btn-cmd-editpos" data-type="pos" data-id="<%= S.id %>" data-val="<%= S.val %>">
            <%= S.val %>
        </button>

    </script>


    <script id="RosterBatterViewTemplate" type="text/template">
        <table class="tbl-roster-totals">
            <caption>Batters</caption>
            <thead>
                <tr>
                    <th scope="col">pos</th>
                    <th scope="col">name</th>
                    <th scope="col">team</th>
                    <th scope="col">runs</th>
                    <th scope="col">hits</th>
                    <th scope="col">hr</th>
                    <th scope="col">rbi</th>
                    <th scope="col">sb</th>
                    <th scope="col">ttl</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>sub</td>
                    <td><label class="batter-total"></label></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </script>
    <script id="RosterStarterViewTemplate" type="text/template">
        <table class="tbl-roster-totals">
            <caption>Starters</caption>
            <thead>
            <tr>
                <th scope="col">pos</th>
                <th scope="col">name</th>
                <th scope="col">tm</th>
                <th scope="col"></th>
                <th scope="col">w</th>
                <th scope="col">l</th>
                <th scope="col">k</th>
                <th scope="col"></th>
                <th scope="col">ttl</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>sub</td>
                    <td><label class="starter-total"></label></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>

        </table>
    </script>
    <script id="RosterCloserViewTemplate" type="text/template">
        <table class="tbl-roster-totals">
            <caption>Closers</caption>
            <thead>
            <tr>
                <th scope="col">pos</th>
                <th scope="col">name</th>
                <th scope="col">tm</th>
                <th scope="col">w</th>
                <th scope="col">l</th>
                <th scope="col">sv</th>
                <th scope="col">ip</th>
                <th scope="col">k</th>
                <th scope="col">ttl</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>sub</td>
                    <td><label class="closer-total"></label></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>ttl</td>
                    <td><label class="roster-total"></label></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </script>

    <!--

    Batter Template

    -->
    <script id="RosterBatterTemplate" class="player-template" type="text/template">
        <td>
            <a href="/#pos/<%= S.pos%>">
                <%= S.pos %>
            </a>
            <!--<button class="btn-property-edit btn-cmd-link btn-cmd-editpos" data-mlbid="<%= S.mlbid%>" data-type="pos" data-id="<%= S._id %>" data-val="<%= S.pos %>">-->
                <!--<%= S.pos %>-->
            <!--</button>-->
        </td>
        <td data-id="<%= S._id %>" class="name-col" data-type="playername">
            <a class="draft-roster-cmd" href="#" data-id="<%= S._id%>"><%= S.name %></a>
        </td>
        <td class="team-col"><%= S.team %></td>
        <td>
            <%= S.runs %>
        </td>
        <td>
            <%= S.hits %>
        </td>
        <td>
            <%= S.hr %>
        </td>
        <td>
            <%= S.rbi %>
        </td>
        <td>
            <%= S.sb %>
        </td>
        <td class="total-col">
            <%= S.total %>
        </td>
        <td data-id="<%= S._id%>" data-type="draftstatus">
            <!-- <a class="draft-status-cmd" href="#" data-id="<%= S._id%>" data-type="draftstatus"><%= S.draftStatus %></a> -->
        </td>
        <td data-id="<%= S._id%>">
            <a href="#" data-id="<%= S._id %>" class="delete-roster-player">(x)</a>
        </td>

    </script>


    <!--

    Starter Template

    -->
    <script id="RosterStarterTemplate" class="player-template" type="text/template">
        <td>
            <button class="btn-property-edit btn-cmd-link btn-cmd-editpos"  data-mlbid="<%= S.mlbid%>" data-type="pos" data-id="<%= S._id %>" data-val="<%= S.pos %>">
                <%= S.pos %>
            </button>
        </td>
        <td data-id="<%= S._id %>" class="name-col" data-type="playername">
            <a class="draft-roster-cmd" href="#" data-id="<%= S._id%>"><%= S.name %></a>
        </td>
        <td class="team-col"><%= S.team %></td>
        <td>

        </td>
        <td>
            <%= S.wins %>
        </td>
        <td>
            <%= S.losses %>
        </td>
        <td>
            <%= S.k %>
        </td>
        <td>

        </td>
        <td class="total-col">
            <%= S.total %>
        </td>
        <td data-id="<%= S._id%>" data-type="draftstatus">
            <!-- <a class="draft-status-cmd" href="#" data-id="<%= S._id%>" data-type="draftstatus"><%= S.draftStatus %></a> -->
        </td>
        <td data-id="<%= S._id%>">
            <a href="#" data-id="<%= S._id %>" class="delete-roster-player">(x)</a>
        </td>

    </script>


    <!--

    Closer Template

    -->
    <script id="RosterCloserTemplate" class="player-template" type="text/template">
        <td>
            <button class="btn-property-edit btn-cmd-link btn-cmd-editpos" data-type="pos" data-id="<%= S._id %>" data-mlbid="<%= S.mlbid%>" data-val="<%= S.pos %>">
                <%= S.pos %>
            </button>
        </td>
        <td data-id="<%= S._id %>" class="name-col" data-type="playername">
            <a class="draft-roster-cmd" href="#" data-id="<%= S._id%>"><%= S.name %></a>
        </td>
        <td class="team-col"><%= S.team %></td>
        <td>
            <%= S.wins %>
        </td>
        <td>
            <%= S.losses %>
        </td>
        <td>
            <%= S.saves %>
        </td>
        <td>
            <%= S.ip %>
        </td>
        <td>
            <%= S.k %>
        </td>
        <td class="total-col">
            <%= S.total %>
        </td>
        <td data-id="<%= S._id%>" data-type="draftstatus">
            <!-- <a class="draft-status-cmd" href="#" data-id="<%= S._id%>" data-type="draftstatus"><%= S.draftStatus %></a> -->
        </td>
        <td data-id="<%= S._id%>">
            <a href="#" data-id="<%= S._id %>" class="delete-roster-player">(x)</a>
        </td>

    </script>
</div>