/** basic default styles **/
html {
    margin: 0;
    padding: 0;
    min-height:100%;
}

body {
    min-height:100%;
    font-size: 95.5%;
    font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
    color: #333;
    background: #023469;
    padding-top: 10px;
}

.viewport, .row{
    min-height:100%;
}
.secondary-nav .is-selected{
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.08) 7%, rgba(0,0,0,0) 8%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(7%,rgba(0,0,0,0.08)), color-stop(8%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.08) 7%,rgba(0,0,0,0) 8%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.08) 7%,rgba(0,0,0,0) 8%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.08) 7%,rgba(0,0,0,0) 8%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.08) 7%,rgba(0,0,0,0) 8%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */


}
.secondary-nav a{
    padding-left:.9em;
}
a, .secondary-nav .is-selected a, .page-header.is-selected a{
    color: #0040D0;
    text-decoration: none;







}
.page-header{
    position:relative;
}
.page-header nav li a{
    color:#ffffff;
}
.secondary-nav a {
    color: #fff;
}
a:hover { text-decoration: underline; }

h2 {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    color: #363636;
    font-family: "Droid Serif", Georgia, serif;
    font-size: 2.6em;
    line-height: 1.8em;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 12px 0;
    text-align: center;
}

h3 {
    letter-spacing: -0.04em;
    font-weight: bold;
    font-size: 1.44em;
    margin-bottom: 10px;
}
ul{
    list-style: none;
}
.pool-site-link{
    /*float:right;*/
}
.btn-cmd-link{
    border:0;
    padding:.2em;
    background:transparent;
}
.btn-cmd-link:hover{
    background-color:#fff;
}
.btn-cmd-link:active{
    background-color:#ddd;
    border-top:1px solid #fff;
    border-left:1px solid #fff;
    border-right:1px solid #bbb;
    border-bottom:1px solid #bbb;
}

.viewport{
    max-width:1300px;
    position:relative
}
.ui-nav-list{
    list-style:none;
}
.global-nav-container{
    float:right;
}
.nav-global-list{
    list-style: none;
    visibility: hidden;
}
.nav-global-list li{
    display:inline;
}
#MainNavigation .admin-nav-item{
    display:none;
}
#TestButton{
    display:none;
}
.stats-update-comp{
    position:absolute;
    top:0;
    right:.4em;

}
#MainContent{
    background-color:#fff;
    min-height:100%;
    padding-bottom:6em;

}
#MainContent.fourfifth{
    margin-left:0;
    min-height:100%;
}
.page-header.is-selected{
    background-color:#ffffff;
    height:100%;
    padding:0;
    margin:0;
}

#MainNavigation .is-selected{
    color:#0066aa;
    font-weight: bold;
}
ul.secondary-nav a {
    display:inline-block;
    width:100%;
    padding-top:.5em;
    padding-bottom:.5em;
}
.secondary-nav{
    width:100%;
}
.secondary-nav table{
    width:100%;
}
.secondary-nav .is-selected{
    background-color: #ffffff;
}
.roster-title{
    font-size:1.5em;
    font-family:Consolas;
}
.page-header-greeting{

}
.stats-update-comp{

}
.btn-update-stats{
    font-size:60%;
}
.stats-update-label{
    font-size:85%;
}
.stats-update-date{
    font-weight:bold;
    font-style: italic;
    font-size:90%;
    background-color:#f3f3f3;
    border:1px solid #aaa;
    padding:.12em;
    border-radius:2px;
}
.team-col{
   /* background-color:#fefefe; */
    border-right:1px solid #eee;
}
.label-col{
    text-align:left;
}
tr.counting td{
    background-color:#E9F2E6;
   border-bottom:1px solid #aaa;
}
.total-col{
    border-right:1px solid #eee;
    border-left:1px solid #eee;

    /* background-color:#f9f9f9;*/
}
tr.counting .total-col{
    font-weight:bold;
    /* background-color:#f9f9f9;*/
}

.ui-instrument-list{
    list-style:none;
    margin-top:.7em;
}
.ui-instrument-list .ui-gauge-item{
    display:inline-block;
    border:1px solid #444;
    position:relative;
    border-radius:4px;
    background-color:#444;
    min-width:60px;
}
.ui-gauge-item .gauge-title{
    position:absolute;
    float:left;
}
.gauge-title{
    font-size:.7em;
    color:#fef4f1;
}
.gauge-value{
    padding:12px;
    font-size:1.5em;
    color:#ccc;
    margin-top:.3em;
}
.roster-container{
    background-color:#eee;
    float:left;
    position: absolute;
    border:1px solid #444;
    border-radius:6px;
    margin-left:2em;
}
table.player-list{
    min-width:500px;
}
.player-list td{
    border:1px solid #eee;
    padding:.2em;
}
table.player-list select{
    width:10em;
}
.ui-gauge-item .instrument-over-threshold{
    color:#ff4242;
}
.ui-gauge-item .instrument-within-threshold{
    color:#28ff28;
}

#ReloadDrafBoard:active, .refresh-chat-cmd:active{
    color:red;
}
.roster-title{
    float:left;
    margin-right:2em;
    margin-left:1em;
}
.roster-status-instrument-container{

}
.roster-title{
    float:left
}
.roster-scores-list{
    list-style:none;
    margin-left:30em;
}
.roster-scores-list li{
    font-weight:bold;
}
.roster-scores-list li .roster-score-summary-label{
    font-weight:normal;
}
.draft-module-container{
    max-width:550px;
    min-width:500px;
    float:left;
    margin-left:2em;
}
.draft-board-header{
    font-family: Consolas;
    font-size:160%;
    color:#1B1B96;
    letter-spacing: .2em;
}
.draft-table{
    width:100%;
}

.draft-table td{
    padding:.3em;
    border:1px solid;
    border-top-color:#000;
    border-left-color:#000;
    border-bottom-color:#fefefe;
    border-right-color:#fefefe;
}
.draft-table tr{
    background-color:#E6ECFA;
}
.draft-table tr.even-round{
    background-color:#BBBBF0;
}
select#DraftPickTeamSelect{

    width:5em;
}
select#DraftPickPosSelect{

    width:5em;
}
select#DraftPickRosterSelect{

    width:8em;
}
.round-col{
    text-align:center;
    vertical-align:middle;
    width:.7em;
    font-size:70%;
}
.roster-col{
    text-align:left;
    width:4em;
}
.pick-col{
    text-align:center;
    vertical-align:middle;
    width:.7em;
    font-size:70%
}
.pos-col, .team-col{
    text-align:center;
    vertical-align:middle;
    width:2em;
}

.picktime-col{
    width:3em;
}
.viewport .page-header{
    padding-bottom: 2px;
    margin: 6px 0 0 0;
    border-bottom: 0px solid #eee;
}
.chat-container-1{
    float:left;
}
.chat-widget-container{
    margin-left:500px;
}
.chat-module-container{
    /*margin-left:453px;*/
    float:right;
    max-width:600px;
}
.chat-messages{
    background-color:#fff;
    border:1px solid #000080;
    border-radius:4px;
    margin-right:3.5em;
    max-height:30em;
    overflow:scroll;
    postion:relative;
}
.transcript-list{
    postion:absolute;
    bottom:0;
}
.chat-module-container .chat-widget-input{
    width:32em;
    height:4em;
}
.chat-clients{
    float:right;
}
.chat-message-item{
    border-top:1px dotted #aaa;
    margin-top:.2em;
    padding-top:.2em;
    position:relative;
}
.message-sender{
    display:block;
    font-size:80%;
    font-style: italic;
    font-weight: bold;
}
.message-body{
    display:block;
    margin-left:1em;
    padding-bottom:1.2em;
    color:#37541A;
    font-family: Consolas;
}
.starter-list td{
    border-bottom:1px solid #ccc;
}
.message-timestamp{
    position:absolute;
    right:1px;
    bottom:1px;
}
.player-roster{
    background-color:#ccc;
}
.player-protected{
    background-color:#439C2A;
    color:#fff;
}
.player-protected a.draft-status-cmd, .player-prospect a.draft-status-cmd,.player-protected a.draft-roster-cmd, .player-prospect a.draft-roster-cmd{
    color:#fff;
}
.player-dropped{
    background-color:#ddd;

}
.player-list .player-prospect{
    background-color:#316921;
    color:#fff;
}
.player-bubble{
    background-color:#E3E159;
}
#InputChatTranscriptNewestFirst{
    float:left;
}
.chat-direction-toggle-label{
    margin-left:2em;
}
.delete-roster-player{

}

.pos-1B, .pos-3B, .pos-CF, .pos-LF, .pos-RP, .pos-SS{
    background-color:#B8D4BD;
}
.pos-C, .pos-2B, .pos-C, .pos-DH, .pos-RF, .pos-SP{
    background-color:#D5E6D8;
}
.ui-instrument-list{
    visibility:hidden;
}
.display-players-container{
    float:left;
    height:400px;
    overflow:scroll;
}
.display-stats-container{
    height:400px;
    width:370px;
    overflow:scroll;
}
.associated{
    background-color:#68B37A;
}
.stat-service-stats{
    background-color: #ffffff;
    border:1px solid #444;
    border-radius:5px;
}
.control-feedback p{
    margin:0;
}

.nav-roster-list li a{
    padding-top:.25em;
    padding-bottom:.25em;
    display:inline-block;
    white-space: nowrap;
}
.nav-score-item{
    color:#FF2656;
    font-size:80%;
    border-bottom:0px solid #ddd;
}
.is-selected .nav-score-item{
    color:#812D21;
}
.draft-roster-cmd{
    color:#111;
    text-decoration:none;
}
.roster-total-sum-col{
    text-align:right;
}
.roster-total-val-col{
    text-align:left;
    font-weight:bold;
}
.total-col{}
.chart-main{
    height:500px;
}
/*

    small screen

*/
@media screen and (max-width: 50em) {
    ul, ol, ul ul, ol ol, ul ol, ol ul{
        margin: 0 0 0 1em;
    }
    .row .fifth{
        border:0px solid red;
        float:left;
        max-width:8em;
    }
    .row .fourfifth{
        max-width:20em;
        border:0px solid blue;
    }
    .row .quarter{
        display:block;
        float:none;
        border:0x solid blue;
    }
    .roster-scores-list{
        margin-left:5em;
    }
    li{
        line-height: .85em;
    }

    td{
        line-height:.9em;
        padding:.1em;
        border:0px solid #dddddd;
        vertical-align:middle;
        text-align:center;
    }
    .name-col{
        text-align:left;

    }
    .name-col a{
        font-size:.7em;
    }
    .roster-title{
        font-size:1em;
    }
    .ui-instrument-list{
        margin-top:.4em;
    }
    .roster-title{
        margin-right:1em;
        margin-left:.5em;
    }
    .team-col{
        font-size:.67em;
    }
    .roster-container{
        max-width:40em;
    }
    table.player-list select{
        width:6em;
    }
    .player-list td{
        padding:.1em;
        font-size: .75em;
    }
    .gauge-title{
        font-size:.55em;
        margin-top:0;
    }
    .gauge-value{
        padding:6px;
        font-size:1.2em;
        margin-top:.5em;
    }
    .ui-instrument-list .ui-gauge-item{
        border-radius:2px;
        min-width:40px;
    }
    .navbar .nav>li>a{
        padding:5px 8px 5px
    }

}
/*

Phone size

*/
@media screen and (max-width: 30em) {
    ul, ol, ul ul, ol ol, ul ol, ol ul{
        margin: 0 0 0 0;
    }

    .row .fifth{
        border:0px solid red;
        float:left;
        /*max-width:6em;*/
        font-size:80%;
    }
    .row .fourfifth{
        max-width:21em;
        font-size:80%;
        border:0px solid blue;
    }
    td{
        line-height:.8em;
        padding:0;
        border:0px solid #dddddd;
        vertical-align:middle;
        text-align:center;
        font-size:.88em;
    }
    .tbl-posrank td{
        border-bottom:1px solid #ddd;
    }
    .tbl-posrank .total-col{
        font-weight:bold;
    }

    .team-col{
        font-size:.7em;
    }
    .name-col{
        text-align:left;

    }

    .name-col a{
        font-size:.75em;
    }
    .nav-roster-list{
        border-right:1px solid #ddd;
        overflow: hidden;
        padding-right:.2em;
    }
    .label-col{
        text-align:right;
        white-space: nowrap;
        padding-right:.2em;
        padding-top:.4em;
        padding-bottom:.4em;
        border:0;
    }
    .secondary-nav a{
        padding-left:.4em;
    }
    .label-col label{

        display:inline-block;
    }
    .nav-score-col{
        text-align:left;
    }
    .nav-score-item {
        padding:1em;
    }
    .batter-list th, .starter-list th, .closer-list th{
        font-size:68%;
    }
    .page-header-greeting{

        display:none;
    }
    .main-content-wrapper{
        position: absolute;
        left: 6em;
    }
    .nav-pos-list{
        /* margin-left:1em;*/
    }
    .nav-pos-list .secondary-nav-item{
        /* margin-left:1em;*/
    }
    .nav-pos-list a{
        margin-left:.5em;
    }
}