<div id="ChatModuleTemplateContainer">

    <script type="text/template" id="ChatModuleDefaultTemplate">


        <div class="chat-module-container">
            <div id="TopChatContainer">



            </div>

            <div class="chat">

                <div class="chat-clients">
                    <div class="cf title">
                        <div class="fl">Users</div>
                    </div>
                    <ul></ul>
                </div>
                <button class="refresh-chat-cmd btn-cmd-link">refresh</button>
                <div class="chat-messages">
                    <ul class="transcript-list"></ul>
                </div>

            </div>
            <div id="BottomChatContainer">

                <div>
                    <textarea class="chat-widget-input" id="ChatInput" placeholder="Enter your message"></textarea>
                    <button type="submit" class="btn btn-primary btn-chat-widget-post" id="send-chat">Send</button>
                </div>

            </div>
            <div class="chat-pref-container">

                <input type="checkbox" id="InputChatTranscriptNewestFirst" value="newest-at-top" >
                <label class="chat-direction-toggle-label" for="InputChatTranscriptNewestAtTop">newest at top</label>

            </div>

        </div>

    </script>

    <script type="text/template" id="ChatItemTemplate">
        <li class="chat-message-item">
            <span class="message-sender"><%= S.nickname %>:</span><span class="message-body"><%= S.message %></span><span class="message-timestamp" title="<%= S.messageTimeStamp %>"><%= S.messageTimeStamp %></span>
        </li>
    </script>
</div>